# Cartelle da ignorare
/data/
/model/
/figures/
/.ipynb_checkpoints/
/testing/
/__pycache__/
/notebook/__pycache__/
/best_models/
*/__pycache__/
*/.ipynb_checkpoints/
# cartelle con altri dataset di testing
/networks/
/traffic/
